@{
    ViewBag.Title = "Home Page";
}
<input id="maps_vn" type="hidden" value="@ViewBag.MapsVN"/>
<input id="maps_tg" type="hidden" value="@ViewBag.MapsTG"/>

<div id="container" style="height: 800px; min-width: 310px"></div>